@import "tailwindcss";

@layer utilities {
  @keyframes flash-alert {
    0% {
      background-color: rgba(239, 68, 68, 0.45);
      box-shadow: inset 0 0 16px rgba(239, 68, 68, 0.6);
    }
    100% {
      background-color: transparent;
      box-shadow: inset 0 0 0px transparent;
    }
  }

  .animate-flash-alert {
    animation: flash-alert 1.5s cubic-bezier(0.25, 0.8, 0.25, 1) forwards;
  }
}
